:root,

:root.wine{
    --dark-color: rgb(20, 20, 20);
    --light_color: #f15071;
    --whitefont: #f9faf8;
    --grayback: #e5e7eb;
}

@font-face {
    font-family: 'rachelhandmedium';
    src: url('./assets/rachelhand/rachelhand-webfont.woff') format('woff2'),
         url('./assets/rachelhand/rachelhand-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz_grotesk_bold';
    src: url('./assets/Akzidenz/AkzidenzGrotesk-Bold_gdi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz_grotesk_light';
    src: url('./assets/Akzidenz/AkzidenzGroteskCE-Light_gdi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh
    
}

header{
    display: flex;
    background-color:var(--dark-color);
    color: var(--whitefont);
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 30px;
}

a{
    text-decoration: none;
    color: var(--whitefont);
}

.logo{
    width: 200px;
    height: auto;
    margin-left: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    
}

.hero_section{
    background-color: var(--dark-color);
    color: var(--whitefont);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_slide{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 0;

}

/* #brain_vid {
    position:fixed;
    top:90px;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  } */

.hero_section h2{
font-family: 'rachelhandmedium';
word-spacing: -10px;
text-transform: uppercase;
line-height: 70px;
font-size: 82px;
font-weight: 100;
text-align: center;
}

.hero_section h4{
    font-family: 'akzidenz_grotesk_light';
    line-height: 52px;
    font-size: 38px;
    font-weight: 100;
    text-align: center;
    
}

.hero_section .about_box{
    padding: 100px;
}

.hero_section a{
    width: 54px;
    height: 37px;
}

img{
    max-width: 100%;
    height: auto;
}
button{
    padding: 8px 20px;
    background-color: var(--light_color) ;
    color: var(--whitefont);
    border-radius: 5px;
    border: solid 2px var(--dark-color);
    font-size: 18px;
    width: 8em;
    cursor: pointer; 
    transition-duration: 0.4s;
}
  button:hover {
    background-color: var(--whitefont);
    color:#3882f6;
  }
.info_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--whitefont);
    color: #1f2937;
    padding: 60px 0;
}


.card_box{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
    flex-wrap: wrap;
}

.card_body{
    border: solid 5px var(--light_color);
    border-radius: 8px;
    flex: 1;
    cursor: pointer; 
    transition-duration: 0.4s;
    margin-bottom: 5px;
}

.card_body:hover{
    transform: scale(1.02);

}

.wine .wines{
    transform: scale(1.05)
}

.card_body img{
    display: flex;
    margin: auto;
    padding: 6px;
    border-radius: 10px;  
}

.quote_section{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--grayback);
    color: #1f2937;
    font-size: 32px;
    font-style:italic;
    padding: 60px;
    text-align: left;
}

.quote_section blockquote{
    max-width: 800px
}

.quote_section p{
    font-size: 24px;
    font-style: normal;
    text-align: right;
}

.quote_section p::before{
    content:  " \2014 \0020";  
    
}

.action_section{
    display: flex;
    justify-content: center;
    background-color: var(--whitefont);
    color: var(--grayback);
    padding: 60px;
    font-size: 18px;
}
.action_section .card {
    background-color: var(--light_color);
    color:var(--whitefont);
    width: 1000px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.card_text{
    padding: 0 60px;
}
.card button{
    border: solid 2px var(--whitefont);
    margin: 0 40px;
   
    
}


footer{
    display: flex;
    background-color: var(--dark-color);
    text-align: center;
    color: var(--whitefont);
    justify-content: center;
    padding: 30px;
}