:root,

:root.wine{
    --dark-color: #000000;
    --light_color: #f80074;
    --whitefont: #f9faf8;
    --grayback: #e5e7eb;
}

@font-face {
    font-family: 'rachelhandmedium';
    src: url('./assets/rachelhand/rachelhand-webfont.woff') format('woff2'),
         url('./assets/rachelhand/rachelhand-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz_grotesk_bold';
    src: url('./assets/Akzidenz/AkzidenzGrotesk-Bold_gdi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz_grotesk_light';
    src: url('./assets/Akzidenz/AkzidenzGroteskCE-Light_gdi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    
}

header{
    display: flex;
    background-color:var(--dark-color);
    color: var(--whitefont);
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 30px;
}

a{
    text-decoration: none;
    color: var(--whitefont);
}

.logo{
    width: 200px;
    height: auto;
    margin-left: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    
}

.hero_section{
    background-color: var(--dark-color);
    color: var(--whitefont);
    background-image:url('./assets/video_still.jpg') ;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
.hero_slide{
    display: flex;
    justify-content: center;
   
}

.hero_right{
    background-color: var(--dark-color);
    height: 600px;
    flex: 1;
   
}

.hero_left{
    background-color: var(--dark-color);
    height: 600px;
    flex: 1;
   
}

/* #brain_vid {
    position:fixed;
    top:90px;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  } */

.hero_section h2{
font-family: 'rachelhandmedium';
word-spacing: -10px;
text-transform: uppercase;
line-height: 70px;
font-size: 82px;
font-weight: 100;
text-align: center;
}

.hero_section h4{
    font-family: 'akzidenz_grotesk_light';
    line-height: 52px;
    font-size: 38px;
    font-weight: 100;
    text-align: center;
    
}

.hero_section .about_box{
    padding: 175px;
}

.hero_section a{
    width: 54px;
    height: 37px;
    margin: auto;
    
}

.pink_section{
    background-color: var(--light_color);
    padding: 280px 0px;
}

.pink_section h4{
    color: var(--whitefont);
    font-size: 46px;
    line-height: 60px;
    font-family: 'akzidenz_grotesk_light';
    font-weight: 100;
}
.neuro_section {
    position:relative;
    height: 800px;

}
.neuro_section .back{
    display: block;
    background-color: var(--dark-color);
    background-image:url('./assets/elk.jpg') ;
    background-size: 110%;
    background-position: center center;
    background-attachment:fixed;
    backdrop-filter:var(--dark-color);
    box-shadow: 10px 15px 60px inset var(--dark-color);
    position:absolute;
    width: 100%;
    color: var(--whitefont);
    z-index: -1;
    height: 100%;
    top: 0;


}

.neuro_section h2{
    font-family: 'rachelhandmedium';
    word-spacing: -10px;
    text-transform: uppercase;
    /* line-height: 70px; */
    font-size: 98px;
    font-weight: 100;
    text-align: center;
    color: var(--whitefont);
    padding-top: 200px;
    
}
.neuro_section h4{
    color: var(--whitefont);
    font-size: 38px;
    line-height: 60px;
    font-family: 'akzidenz_grotesk_light';
    font-weight: 100;
    padding: 80px 0px  200px;
}

footer{
    display: flex;
    background-color: var(--dark-color);
    text-align: center;
    color: var(--whitefont);
    justify-content: center;
    padding: 30px;
}